# node modules folder
node_modules

#other folders
/src/utils

# env variables
.env

# MacOS files

.DS_Store

# ignore seed javascript file

/src/seed.js

# other javascript

/src/reportWebVitals.js
/src/setupTests.js
/src/App.test.js