.checkout-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.checkout-header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.checkout-header .col:first-child {
  padding-left: 0;
}

.checkout-header .col:last-child {
  padding-right: 0;
}

.checkout-footer {
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  color: black;
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.checkout-footer .col:last-child {
  padding-right: 0;
}

.checkout-footer .col:first-child {
  padding-left: 0;
}

.checkout-footer .cart-total {
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.checkout-pay-methods {
  margin-top: 1rem;
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.checkout-pay-methods .col:last-child {
  padding-right: 0;
}

.checkout-pay-methods .col:first-child {
  padding-left: 0;
}
