.element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}

.element .custom-button {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.element .category-name  {
  position: absolute;
  font-size: larger;
  color: azure;
  cursor: pointer;
}

.element .product-details {
  position: absolute;
  text-align: center;
  top: 15%;
}

.element .product-name {
  font-size: larger;
  color: azure;
  cursor: pointer;
  margin: 0 0 2% 0;
}

.element .product-desc {
  font-size: small;
  color: azure;
  cursor: pointer;
  margin: 0 16%;
}

.background {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  filter: brightness(.5);
  transition: filter 0.20s;
  border: 1px solid black;
}

.element:hover .background{
  filter: brightness(.8);
  cursor: pointer;
}